@charset "UTF-8";
* { margin: 0; padding: 0; border: 0; font-size: 100%; }
body {
    background-image: url(../../images/Concrete%20backgr.jpg);
    background-size: cover;
    background-clip: padding-box;
    background-repeat: no-repeat;
    font-family: 'Source Code Pro', monospace;
    font-style: normal;
    text-align: left;
}
