@charset "UTF-8";
@import url("../page2styles.css/v2styles.css");
* { margin: 0; padding: 0; border: 0; font-size: 100%; }
.my-class {
    color: #F4F4F4;
    background-color: #6F8F9E;
    border: thin none #000000;
    text-align: center;
    padding-top: 26px;
    padding-right: 26px;
    padding-left: 26px;
    padding-bottom: 26px;
    border-radius: 0px;
    margin-top: 0px;
    font-size: xx-large;
    border-spacing: 0px 0px;
    margin-left: -300px;
    margin-right: -300px;
}
.boxPara1 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 50px;
    background-color: #708F9E;
    text-align: center;
    border-width: 0mm;
    display: inherit;
    border-radius: 10px;
    margin-bottom: 20px;
}
.boxPara1_rat {
    margin-left: 10px;
    margin-top: 13px;
    float: left;
    padding-right: 12px;
    border-radius: 33px;
}
.boxbluemiddle {
    color: #F4F4F4;
    background-color: #708F9E;
    border: thick solid #000000;
    border-radius: 60px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    padding-top: 15px;
    padding-bottom: 12px;
    margin-right: 356px;
    margin-left: 356px;
    display: block;
    margin-top: 20px;
    text-align: center;
}
.boxPara2 {
    background-color: #708F9E;
    border-radius: 20px;
    margin-left: 64px;
    margin-bottom: 46px;
    text-align: center;
    margin-right: 64px;
    margin-top: 20px;
}
body {
    background-image: url(../../images/Concrete%20backgr.jpg);
    background-size: cover;
    background-clip: padding-box;
    background-repeat: no-repeat;
    font-family: 'Source Code Pro', monospace;
    font-style: normal;
    text-align: left;
}
#Titlewhite {
    color: #FFFFFF;
    text-align: left;
    margin-left: 50px;
    margin-bottom: -9px;
    margin-top: 30px;
    font-size: x-large;
}
.Textblack  {
    color: #000000;
    font-size: x-large;
    margin-left: 50px;
    margin-top: 44px;
}
.footer1 {
    
}
.footer_darker {
    background-color: #587481;
    margin-bottom: 7px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-top: 0px;
}
.Textwhite  {
    color: #FFFFFF;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: auto;
}
.rat2 {
    display: inline;
    border-radius: 17px;
}
.Banner_toppage {
    padding-top: 19px;
    margin-left: -300px;
    background-size: cover;
    background-position: 41% 37%;
    background-color: #587481;
    margin-top: -17px;
    margin-right: -300px;
}
.Banner_toppage_text {
    text-align: center;
    padding-bottom: 21px;
}
